img {
    width: 100%;
}
.cit{
    max-height: 400px;
}
.titulo {
display: inline-block;
}
.hedate {
    float: right;
    color: grey;
    padding-right: 0;
}
.segm{
    margin-top: 6px;
}
.br{
    margin-right: 6px;
}